 /* h1{
    color: blue;
    background-color: antiquewhite;
} */

img{
    width: 200px;
    height: 200px;
}
.title{
    color: red;
}
.sub-title{
    color: green;
}
#f{
    color: rgb(24, 133, 228);
    background-color: azure;
}